# Application
RP_ENGINE_APP_NAME=RP Engine
RP_ENGINE_APP_ENVIRONMENT=development
RP_ENGINE_APP_HOST=0.0.0.0
RP_ENGINE_APP_PORT=8000
RP_ENGINE_LOG_LEVEL=INFO
RP_ENGINE_DEBUG_STATUS_ENABLED=false

# Telegram
RP_ENGINE_TELEGRAM_ENABLED=true
RP_ENGINE_TELEGRAM_BOT_TOKEN=
RP_ENGINE_TELEGRAM_MESSAGE_MAX_LENGTH=3800

# LM Studio
RP_ENGINE_LMSTUDIO_API_HOST=localhost:1234
RP_ENGINE_LMSTUDIO_MODEL=qwen/qwen3-4b-2507
RP_ENGINE_LMSTUDIO_MAX_TOKENS=1000
RP_ENGINE_LMSTUDIO_TEMPERATURE=0.8
